{{>partials/header}}

  <div class="header">
    {{title}}
    <div id="top_menu" class="inline no-print">
      <a href="/">Home</a>
    </div>
  </div>

  <form action="/feedbackp" class="form" method="post">
    <input type="hidden" name="token" id="token">
    <div class="content">
      <h1>Feedback From</h1>
      <p>Your feedback is important. Please include a method to contact you in the message block (eg. email or phone or even your snail mail address).</p>
      <p>If reporting a problem, please include at least two things: <em>expected behavior</em> and <em>unexpected behavior</em>. For instance, <em>"I clicked such and such button. I expected it to do a, b, or c. Instead, it did x, y, and z</em>.</p>
      <p>If you have a request for functionality, please note whether or not you would like to partner with us to accomplish the upgrade.</p>
      <p>Whatever your feedback, please know, it is very important to us.</p>
      <table class="table">
        <tr>
          <td>
            <textarea name="msg" placeholder="...don't forget your phone/email/or snail mail address"></textarea>
          </td>
        </tr>
        <tr>
          <td><input type="submit" value="Send Feedbck"></td>
        </tr>
      </table>
    </div>
  </form>

  <script>const GRC='{{GOOGLE_RECAPTCHA_CLIENT}}';</script>
  <script src="https://www.google.com/recaptcha/api.js?render={{GOOGLE_RECAPTCHA_CLIENT}}"></script>

{{>partials/footer}}
