{{>partials/header}}

  <div class="header">
    {{title}}
    <div id="top_menu" class="inline no-print">
      <a href="/">Home</a>
    </div>
  </div>

  <div class="content">
    <h1>Thank You</h1>
    <p>Your feedback is in our inbox (or on the way at least). Please allow a few hours for an email response (under most circumstances).</p>
    <p>Again, thank you. Your feedback is very important.</p>
  </div>

{{>partials/footer}}
