{{>partials/header}}

  <div class="header">
    {{title}}
    <div id="top_menu" class="inline no-print">
      <a href="/">Build</a>
      <a href="/logout">Logout</a>
      <a href="/invoices" class="active">Invoices</a>
    </div>
  </div>

  <div class="content">
    The invoices are listed here by invoice number.<br>
    <hr>
  {{#list}}
    <a href="/invoice/{{id}}">Invoice # {{invoice_number}} - Click to View</a><br>
  {{/list}}
  {{^list}}
  <h2>Welcome!</h2>
  <h3>No invoices have been created...yet.</h3>
  <h3><a href="/">Build an invoice</a></h3>
  {{/list}}

    <hr>
  </div>

{{>partials/footer}}
