{{>partials/header}}

  <div class="header">
    {{title}}
    <div id="top_menu" class="inline no-print">
      <a href="/">Home</a>
    </div>
  </div>

  <div class="content">

<h1>Privacy Policy</h1>

<p>Last updated: December 31, 2023</p>

<p>Thank you for using this tool. This Site is geared toward small businesses and budding entrepeneurs. It is designed by a small business that uses it internally for billing payors. Protecting the data of users of This Site is of the utmost priority. Only that information required to facilitate the Service is kept. For instance, Google login provides a single sign-on tool that allows for the requesting of other permissions and information. We only make use of the numeric id that the user's "Google User ID" (typically unseen, this is not your email address nor username). We do greet you with your full "display name", but no other Google data is procured.</p>

<p>This Privacy Policy describes how we collect, use and disclose your information.</p>

<p>By using This Site, you and your representatives agree to the collection and use of information in accordance with this Privacy Policy.</p>
<hr>

<h2>Liability and Consequential Damage</h2>

<p>This Site - its personnel, contractors or agents - will not be held liable for any direct or consequential liability (financial, physical or otherwise), nor will any services (including, but not limited to invoices created, or lack thereof) be the basis for any monetary reimbursements, credits, or other considerations.</p>

<p>Users of This Site hereby agree to defend, indemnify, and hold harmless This Site, its officers, employees and agents, from any and all claims, demands, causes of action, liabilities, property damage, personal injuries or death in any way related or alleged to be related to the use of This Site.</p>
<hr>

<h2>Definitions</h2>
<p>Definitions</p>

<p>For the purposes of this Privacy Policy:</p>

<ul>
  <li>Account means a unique account created for You to access this Service or parts of this Service.</li>

  <li>Business, for the purpose of the CCPA (California Consumer Privacy Act), refers to the Company as the legal entity that collects Consumers' personal information and determines the purposes and means of the processing of Consumers' personal information, which such information is collected and that alone - or jointly with others - determines the purposes and means of the processing of consumers' personal information, that does business in the State of California.</li>

  <li>Company (referred to as either "the Company", "We", "Us", "Our", or "This Site" in this Agreement) refers to Jay Johnston DBA WEBjuju, Tennessee, United States.</li>

  <li>Consumer, for the purpose of the CCPA (California Consumer Privacy Act), means a natural person who is a California resident. A resident, as defined in the law, includes (1) every individual who is in the USA for other than a temporary or transitory purpose, and (2) every individual who is domiciled in the USA who is outside the USA for a temporary or transitory purpose.</li>

  <li>Cookies are small files that are placed on Your computer, mobile device or any other device by a website, containing the details of Your browsing history on that website among its many uses.</li>

  <li>Country refers to: Tennessee, United States</li>

  <li>Device means any device that can access the Service such as a computer, a cellphone or a digital tablet.</li>

  <li>Do Not Track (DNT) is a concept that has been promoted by US regulatory authorities, in particular the U.S. Federal Trade Commission (FTC), for the Internet industry to develop and implement a mechanism for allowing internet users to control the tracking of their online activities across websites.</li>

  <li>Personal Data is any information that relates to an identified or identifiable individual.</li>

  <li>For the purposes of the CCPA, Personal Data means any information that identifies, relates to, describes or is capable of being associated with, or could reasonably be linked, directly or indirectly, with You.</li>

  <li>Sale, for the purpose of the CCPA (California Consumer Privacy Act), means selling, renting, releasing, disclosing, disseminating, making available, transferring, or otherwise communicating orally, in writing, or by electronic or other means, a Consumer's personal information to another business or a third party for monetary or other valuable consideration.</li>

  <li>Service refers to the This Site.</li>

  <li>Service Provider means any natural or legal person who processes the data on behalf of the Company. It refers to third-party companies or individuals employed by the Company to facilitate the Service, to provide the Service on behalf of the Company, to perform services related to the Service or to assist the Company in analyzing how the Service is used.</li>

  <li>Third-party Social Media Service refers to any website or any social network website through which a User can log in or create an account to use the Service.</li>

  <li>Usage Data refers to data collected automatically, either generated by the use of the Service or from the Service infrastructure itself (for example, the duration of a page visit).</li>

  <li>Website refers to This Site, accessible from [invoices.webjuju.com] (https://invoices.webjuju.com)</li>

  <li>You means the individual(s) accessing or using the Service, or the Company, or other legal entity on behalf of which such individual is accessing or using the Service, as applicable.</li>
</ul>
<hr>

<h2>Children's Privacy</h2>
<p>This Site requires You and your representatives to be of legal age. You must be at least 18 (eighteen) years of age to use this site. Any payor billing information entered must also be that of someone of legal age. The names and addresses entered into the invoice data entry screen must be of those that are at least 18 (eighteen) years of age.</p>

<p>This Company eagerly particpates in and supports all online child privacy acts and endeavors.</p>
<hr>

<h2>Collecting and Using Your Personal Data</h2>
<h3>Types of Data Collected</h3>
<h4>Personal Data</h4>
<h5>Google OAuth Data</h5>
<p>When You Sign Up via Google's OAuth 2.0 Google Identity Services, Google provides a dataset like seen here (the fictional values are for illustrative purposes):</p>
<pre>
{
  sub: '123456789012345678901',
  name: 'Display Name',
  given_name: 'Display',
  family_name: 'Name',
  picture: 'https://lh3.googleusercontent.com/a/RandomCharactersAreHereRandomCharact-ER-sAreHereRan=doM-c',
  email: 'example@gmail.com',
  email_verified: true,
  locale: 'en'
}
</pre>

<p>This Site uses "sub" and "name" from this Google sign-on provided data.</p>

<p>The "sub" value is used by This Site to identify any data You save at This Site. The "sub" value uniquely identifies You without making any data stored "personally identifiable".</p>

<p>This Site also greets you with the "name" value; however, that display name is not stored by This Site. It is only available to This Site while You are signed in.</p>

<p>No other information from Your Google account is accessed.</p>

<h5>Invoice Data</h5>
<p>When You enter invoice data, that data is stored by This Site. The data You entered is stored in an encrypted format (as illustrated by this fictional example):</p>
<pre>
{
  "id":1,
  "invoice_number":"100",
  "user_id":"123456789012345678901",
  "value":"79dd0a497603b6f6239917ffb2a7fe25xf03734517a3667b438b3a732522e5f46ab9d928f0ee0a258af48531890f169fa85f77b83693c7100c576be1debe9bc242ee4de712e1c49ece540253cdc7451468cb2ad85f85b10253cb55c71b596c5e663e1b6eb09bf47976b1111a0a639bbb50b5d549b476eade5d1937d57ceba90f34a574d1ac5dcf48dda0581e4e37d6eba772faa6905b3973d931536a6d2aeaafad2f0778729cb28c8764a3bc66dd4aed0327d4a5064ba67392cb5f2be339afe355c1d8ca84812c9f5906c816e39fc2fd5253a74f763e4859edbdaea71746bcb1494fcdb2871f32ef9c6846ac99588886b3cb5baea4316995292f6a92cea86b56263721e9d39c5d99484378161a22897cd4d426bd764b5e01f91924f6b82e360b7ebee4146ed98f450ed12fd9f5d269a1d8aa159fb16732dbbc92fd4902ebd7cc1907a6decf07cb8a97f78915483764b6eb133f26e97f5539b634028cc40947c939b68ee38f954903039772ae7dc148843c24169245d8cd191ecf05f8a44962bb2926018febeff7baaa7a182e9719b348ce00db603266dfd1fb5ec89a31987e9df",
  "createdAt":"2023-12-31T03:39:41.469Z",
  "updatedAt":"2023-12-31T03:39:41.469Z"
}
</pre>

<p>The "id" field is an auto-incrementing identifier used internally by the database. The "invoice_number" is used to create the "Invoice List" without having to decrypt the "value" which is the encrypted, invoice data itself.</p>

<p>Your invoice data is never decrypted by The Company unless necessary to assist You with a technical issue. Your invoice data is always encrypted until You access it via This Site. While not impossible, it is highly improbable that this invoice data could be decrypted outside of This Site.</p>
<hr>

<h4>Usage Data</h4>
<p>Usage Data is collected automatically when using the Service.</p>

<p>Usage Data may include information such as Your Device's Internet Protocol address (e.g. IP address), browser type, browser version, the pages of our Service that You visit, the time and date of Your visit, the time spent on those pages, and other diagnostic data.</p>
</p>
<hr>

<h4>Technology and Cookie Data</h4>
<p>This Site may use analytic Cookies or similar tracking technologies to track the activity on Our Service. The Company does not sell, rent, or share any collected information with anyone, other than to comply with a legal process and is required by law. We may disclose information to respond to subpoenas, court orders, legal processes, law enforcement requests, legal claims and/or government inquiries.</p>

<p>This Site does not use Necessary / Essential Cookies. Third-Parties (Google Analytics) may use Cookies to track information about traffic to This Site and You use the Website.</p>
<hr>

<h2>Use of Your Personal Data</h2>
<p>The Company may use Personal Data for the following purposes:</p>

<ul>
  <li>To provide and maintain Our Service, including to monitor the usage of Our Service.</li>

  <li>To manage Your Account or registration as a user of the Service.</li>

  <li>To contact You: To contact You by email should You submit a feedback form. This Site does not store your email address in a useable format (it may be stored in an encrypted format within the invoices, but it is not readibly useable nor available for use to contact You. Updates or informative communications related to the functionalities, including security updates, when necessary or reasonable will be displayed at time of sign on.</li>

  <li>For other purposes: We may use Your information for other purposes, such as data analysis, identifying usage trends, determining the effectiveness campaigns and to evaluate and improve our Service, products, services, marketing and Your experience.</li>
</ul>

<p>We take great interest in not having any personal data that could be hacked, stolen, or used by anyone other than You. All data is encrypted in transit and encrypted at rest. Your invoice data is only decrypted at the time You use it.</p>
<hr>

<h2>Retention of Your Personal and Invoice Data</h2>
<p>The Company will retain Your Personal Data only for as long as is necessary for the purposes set out in this Privacy Policy. We will retain and use Your Personal Data to the extent necessary to comply with our legal obligations (for example, if we are required to retain Your data to comply with applicable laws), resolve disputes, and enforce our legal agreements and policies.</p>

<p>The Company will also retain Usage Data for internal analysis purposes. Usage Data is generally retained for a shorter period of time, except when this data is used to strengthen the security or to improve the functionality of Our Service, or We are legally obligated to retain this data for longer time periods.</p>

<p>In the future, This Site may move from a free platform to a for-pay platform. Storage of invoice data may at that time incur a fee. Check This Site periodically for updates (Your email is not stored with Your data in a way that is useable).</p>
<hr>

<h2>Disclosure of Your Personal Data</h2>
<h3>Law enforcement</h3>

<p>Under certain circumstances, the Company may be required to disclose Your Personal Data if required to do so by law or in response to valid requests by public authorities (e.g. a court or a government agency).</p>

<h3>Other legal requirements</h3>

<p>The Company may disclose Your Personal Data in the good faith belief that such action is necessary to:</p>
<ul>
  <li>Comply with a legal obligation</li>
  <li>Protect and defend the rights or property of the Company</li>
  <li>Prevent or investigate possible wrongdoing in connection with the Service</li>
  <li>Protect the personal safety of Users of the Service or the public</li>
  <li>Protect against legal liability</li>
</ul>
<hr>

<h2>Sale of Personal Information</h2>

<p>We will NOT sell or rent any of Your personal information nor any of Your invoice data to any third party share. As defined in the CCPA, "sell" and "sale" mean selling, renting, releasing, disclosing, disseminating, making available, transferring, or otherwise communicating orally, in writing, by electronic or other means, a consumer's personal information by the business to a third party for valuable consideration.</p>

<p>You may request at any time to have all of your data deleted.</p>
<hr>

<h2>Changes to this Privacy Policy</h2>

<p>We may update Our Privacy Policy from time to time. We will notify You of any changes by posting the new Privacy Policy on this page.</p>

<p>We will let You know with a notice on this page. Refer to the "Last updated" date at the top of this Privacy Policy.</p>
<hr>

<h1>Contact Us</h1>

<p>If you have any questions about this Privacy Policy, You can contact us:</p>

<ul>
  <li>By visiting the <a href="/feedback">feedback page</a> on This Site.</li>
</ul>
<hr>
  </div>

{{>partials/footer}}
