{{>partials/header}}

  <div class="header">
    {{title}}
    <div id="top_menu" class="inline no-print">
      <a href="/">Home</a>
    </div>
  </div>

  <div class="content">

<h1>Terms of Service</h1>

<p>Last updated: December 31, 2023</p>

<p>These terms of service (the "Terms of Service") govern the use of "This Site". <em>For definitions including "This Site" see the Definitions section of the <a href="/privacy-policy">Privacy Policy</a>.</em></p>

<p>By using this Site, You indicate that You have read and understand these Terms of Service and agree to abide by them at all times.</p>

<hr>

<h2>Intellectual Property</h2>

<p>All content published and made available on This Site is the property of The Company and its creators. This includes, but is not limited to images, text, logos, and anything that contributes to the composition of This Site.</p>
<hr>

<h2>Accounts</h2>

<p>When You create an account on This Site, You agree to the following:</p>

<ul>
  <li>You are solely responsible for your account and the security and privacy of your account, including passwords or sensitive information attached to that account; and</li>

  <li>All personal information you provide to us through your account is up to date, accurate, and truthful and that You will update anything that changes.</li>
</ul>

<p>The Company reserves the right to suspend or terminate your account if You are using This Site illegally or if You violate these Terms of Service.</p>
<hr>

<h2>Limitation of Liability</h2>
<p>Except where prohibited by law, by using This Site, You indemnify and hold harmless The Company and its directors, officers, agents, employees, subsidiaries, and affiliates from any actions, claims, losses, damages, liabilities, and expenses including legal fees arising out of your use of This Site or your violation of these Terms of Service.</p>
<hr>

<h2>Severability</h2>
<p>If at any time any of the provisions set forth in these Terms of Service are found to be inconsistent or invalid under applicable laws, those provisions will be deemed void and will be removed from these Terms of Service.</p>

<p>All other provisions will not be affected by the removal and the reset of these Terms of Service will still be considered valid.</p>
<hr>

<h2>Changes</h2>
<p>These Terms of Service may be amended from time to time to maintain compliance with the law and to reflect any changes to the way The Company operates This Site and the way users are expected to behave while using This Site.</p>

<p>We will let You know with a notice on this page. Refer to the "Last updated" date at the top of this Privacy Policy.</p>

<h1>Contact Us</h1>

<p>If you have any questions about these Terms of Service, You can contact us:</p>

<ul>
  <li>By visiting the <a href="/feedback">feedback page</a> on This Site.</li>
</ul>
<hr>
  </div>

{{>partials/footer}}
