  <div class="content text-center footer no-print">
    <a href="/feedback">Feedback</a> |
    <a href="/terms-of-service">Terms of Service</a> |
    <a href="/privacy-policy">Privacy Policy</a>
  </div>
  <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
  {{#js_files}}
  <script src="{{{.}}}"></script>
  {{/js_files}}
</body>
</html>
